<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
  <form class="uk-form-stacked uk-text-left" action="/addPOI" method="POST">
    <div class="uk-grid uk-grid-stack">
      <div class="uk-width-1-1">
        <div class="uk-margin">
          <label class="uk-form-label" for="form-stacked-text">Add New POI</label>
          <div class="uk-inline uk-width-1-1">
              <label class="uk-form-label" for="form-stacked-text">Name</label>
              <input class="uk-input uk-form-small" type="text" name="name" placeholder="Name">
          </div>
          <div class="uk-inline uk-width-1-1">
              <label class="uk-form-label" for="form-stacked-text">Description</label>
              <input class="uk-input uk-form-small" type="text" name="description" placeholder="Description">
          </div>
          <div class="uk-inline uk-width-1-1">
              <label class="uk-form-label" for="form-stacked-text">Picture</label>
              <form action='/api/images' method="post" enctype="multipart/form-data">
                  <input type="file" class="uk-input" name="imagefile" accept="image/png, image/jpeg">
              </form>
          </div>
          <div class="uk-inline uk-width-1-1">
              <label class="uk-form-label" for="form-stacked-text">Category</label>
              <label><input class="uk-radio" type="radio" name="category" value="North"> North </label>
              <label><input class="uk-radio" type="radio" name="category" value="South"> South </label>
              <label><input class="uk-radio" type="radio" name="category" value="East"> East </label>
              <label><input class="uk-radio" type="radio" name="category" value="West"> West </label>
          </div>
          <div class="uk-inline uk-width-1-1">
              <button class="submit uk-button uk-button-primary uk-button-large uk-width-1-1">Add POI</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
