<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
  <table class="uk-table">
    <caption>
      The Islands of Ireland - Places of Interest
    </caption>
    <thead>
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>
      <th></th>
    </thead>
    <tbody class="uk-text-left">
      {{#each pois}}
        <tr>
          <td>{{name}}</td>
          <td>{{description}}</td>
          <td>{{category}}</td>
          <td>
              <a href="/editPOI" class="uk-card uk-card-small uk-card-hover uk-padding-small">
                  <i class="fad fa-edit-fa-3x" style="color:rgb(72,215,9)" title="Edit POI" pos="bottom" uk-tooltip></i>
              </a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>