<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> title-card title="Administrator Dashboard" subTitle="Review the Users & POI Entries"}}
    {{> admin-menu }}
</div>

<div class="uk-container uk-margin">
    <div class="uk-width-expand uk-flex-left uk-flex-left uk-text-left">
        {{> poi-list}}
    </div>
</div>

