<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
  {{> title-card title="Dashboard" subTitle="Welcome to the Islands of Ireland"}}
  {{> main-menu }}
</div>

<div class="uk-container uk-margin">
  <div class="uk-width-expand uk-flex-left uk-flex-left uk-text-left">
    {{> showPOIs}}
  </div>
</div>
