<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
  {{> title-card title="The Islands of Ireland" subTitle="Sign Up or Log In!"}}
  {{> welcome-menu }}
</div>

<div class="uk-container uk-margin">
  <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
    <div class="uk-width-auto@m">
      <img width="500" src="images/homepage.jpg" />
    </div>
    <div class="uk-width-expand@m">
      <h1 class="uk-heading-small">See the Islands of Ireland!</h1>
      <p>Sign Up to see the Islands and Add Islands not recorded yet!</p>
      {{> error }}
    </div>
  </div>
</div>
